<div class="contactPage">
  <h1>Contact</h1>
  <p>Questions or comments? We'd love to hear from you! Please fill in the fields below and we’ll be in touch as soon as we can. Most emails are answered within 24 hours, Monday through Friday from 9am - 5pm (Mountain Time), so drop us a line.
  </p>
  <br>
  <p>If you’re interested in carrying NYX Camping products or looking for wholesale info, please email us at info@nyxcamping.com</p>
</div>




<!-- Container (Contact Section) -->
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm- slideanim" id="contact">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-middle" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>